.navbar {
  border-bottom: #563D7C 3px solid;
  /* opacity: 0.85; */
  margin-bottom: 2em
}

/* .nav-link {    */
    /* font-weight: 500; */
    /* font-size: 1.3rem; */
    /*color: black;
    text-shadow: -1.2px 0 #FFF, 0 1.2px #FFF, 1.2px 0 #FFF, 0 -1.2px #FFF;*/
/* } */
/* .nav-link:hover{
    color: brown;
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 769px) and (max-width: 1000px) {
  body {height: 200vh;}
} */


/* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* .navbar {
    height: 59px;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}