.card-img-top {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.card {
    cursor: pointer;
}

.card-title {
    height: 48px;
}

.card-title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;    
}